* {
    box-sizing: border-box;
    margin:0;
    border: 0;
}
body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.whl_ig {
    display:flex;
}
.icon-s, .icon-f {
    width:25px;
}
.icon-ct {
    width:20px;
    height:20px;
}
.icon-sn {
    width:21px;
}
.icon-f:hover, .icon-ct:hover, .icon-sn:hover {
    cursor: pointer;
}
.icon-s:hover {
    cursor: pointer;
}
.sttu-catg {
    display:flex;
    position: relative;
    overflow:hidden;
    gap:15px;

    box-shadow: 1px 1px 1px 2px #8a8a8a3d;
    background-color: #ffffff;
    margin:30px 52px 30px 120px;
    padding: 20px;
    border-radius:10px;
}
.flsx-ii {
    background-color: #fafafa;
}
.second-div {
    width:60%;
    
}
.sub_catg {
    margin-top: 17px;
    list-style-type: none;
}
.sub_catg a {
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:20px;
    text-decoration: none;
    padding:10px 10px 10px 0px;
    margin-right: 20px;
}
.sub_catg a:hover {
    background-color: #fafafa;
    border-radius:18px;
}
.sub_catg a img:hover {
    padding: 1px;
}
.sub_catg a p {
    font-size:18px;
    color: #000000;
}
.active-icon {
    font-weight: bold;
}
#ll-brd {
    border:2px solid black;
    border-radius:10px;
}
#fl-brd {
    border-radius:50%;
    height:27px;
}
.first_div {
    padding:35px 45px 20px 0px;
    width:20%;
    border-right: 1px solid rgba(0, 0, 0, 0.203);
}
.ig_logo {
    list-style-type: none;
}
.ig_logo a img {
    margin:50px 0px 20px 0px;
}
#fixed {
    position: fixed;
    z-index: 1;
    top:0;
    left:0;
    overflow-x: hidden;
    height:100vh;
    width:fit-content;
}
.img-images {
    padding-left: 120px;
}
.thrd_sect {
    padding: 80px 60px 0px 0px;
}
.flsx-ii {
    display: flex;
    flex-direction: row;
    width:80%;
}
.prf_imgg {
    width:66px;
    height:66px;
    border:2px solid transparent;
    border-radius:50%;
    padding:1px;
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, rgb(250, 226, 46), red, rgb(173, 30, 230)) border-box;
}
.prf_imgg:hover, .img-st p:hover {
    cursor: pointer;
}
.prfl_imgg {
    width:66px;
    height:66px;
    border-radius: 50%;
}
.prf_sect {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap:15px; */
}
.prfl_tg {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:15px;
}
#sgfr, .sgg_fr_usr {
    display: flex;
    justify-content: space-between;
    gap:10px;
    align-items: center;
    margin-top: 15px;
}
.name_tag {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.img-nm {
    display:flex;
    align-items: center;
    gap:10px;
}
.img-nm p, #usr_nme_prf a, .sgg_nme a {
    font-weight: 600;
}
.img-nm p:hover {
    cursor: pointer;
}
.rct_img {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rr_img {
    display: flex;
    align-items: center;
    gap:13px;
}
.lkd_by {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
}
.side_by_side_img {
    position: relative;
    top:0;
    left:0;
}
.material-symbols-outlined:hover {
    cursor: pointer;
}
.frs_usrnm {
    margin-right:5px;
    color:#000000;
    text-decoration: none;
    font-weight: bold;
}
.view {
    display: flex;
    flex-direction: column;
    margin-top:5px;
}
.view a {
    margin-top:5px;
    text-decoration: none;
}
.comment_sect form {
    width:100%;
    border-top:1px solid rgba(0, 0, 0, 0.09);
    padding:5px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 15px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
::placeholder, .view a {
    color:#c2c2c2;
}
.view a {
    font-size:14px;
}
.post input{
    background-color: #ffffff;
    color:#b3dbff;
}
.smiley_txt {
    display: flex;
    align-items: center;
    gap:5px;
}
.sgg_ttl {
    display:flex;
    flex-direction: row;
    gap:10px;
}
.icon-p {
    width:25px;
    height:23px;
    border-radius: 50%;
}
.icon-p:hover {
    cursor: pointer;
}
#ftr_lnk ul {
    display: flex;
    gap:10px;
    margin:20px 0px 10px -40px;
}
.ftr_clnk {
    list-style-type:none;
}
.ftr_clnk a, #lang a, #cp_rgt p{
    text-decoration: none;
    color:#2e2e2e44;
    font-size: 13px;
}
#cp_rgt {
    margin-top:10px;
}
#usr_nme_prf a {
    text-decoration: none;
    color:#000000;
}
#usr_nme_prf p {
    font-size:14px;
    margin-top:5px;
}
#usr_nme_prf p, #sgfr p, .sgg_nme p {
    color:#8a8a8a;
}
.sgg-fllw a, #switch a{
    color:#0098fd;
    text-decoration: none;
}
#sgfr a, .sgg_nme a {
    text-decoration: none;
    color:#000000;
}
.sgg_nme p {
    font-size:11px;
}
.icon-q {
    width:35px;
    height:35px;
    border-radius: 50%;
}
.al_img {
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom:20px;
    box-shadow: 1px 1px 1px 2px #8a8a8a38;
    width:473px;
    /* padding:10px; */
}
.name_tag {
    padding: 15px;
}
.wh_aft_bl {
    padding:10px;
}
.bg_img img {
    width:473px;
    height:450.633px;
}
#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-4:checked ~ .control-4, 
#carousel-5:checked ~ .control-5, 
#carousel-6:checked ~ .control-6, 
#carousel-7:checked ~ .control-7, 
#carousel-8:checked ~ .control-8, 
#carousel-9:checked ~ .control-9, 
#carousel-10:checked ~ .control-10 {
    display:block;
} 
.carousel-control {
    background: #ffffff;
    border-radius: 50%;
    color: #d8dadaa7;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 22px;
    line-height: 10px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 20px;
    z-index: 10;
}
.carousel {
    position: relative;
}

.carousel-open:checked + .img-st {
    position: static;
    opacity: 100;
}
.img-st {
    position: absolute;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}
.img-st p {
    font-size:12px;
    text-align: center;
}

.carousel-control.prev {
    left: 2%;   
}

.carousel-control.next {
    right: 2%;
}
